@charset "UTF-8";

@media screen and (min-width:451px) and (max-width:700px){
body{
    background-color: white;
    margin: 0%;
    overflow-x: hidden;
}
.navBar {
    height: 50px;
    position: fixed;
    min-width: 100%;
    z-index: 3;
    background:black;
  }
  
  .logo {
    color: white;
    display: inline-block;
    height: 13px;
    margin: 17px 20px ;
    width: 187px;
  }
  
  .wrapper {
  
    margin: 0 auto;
    max-width: 100%;
    padding: 0 2%;
  }
  
  nav ul {
      padding: 0px;
      margin: 7px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    min-width: 40%;
  }
  nav ul a {
    color: #FFF;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  nav ul a:hover {
    color: #AAA;
  }
  nav li {
    font-family: 'Brandon Grotesque';
    font-weight: normal;
    font-style: normal;
  }
  
  nav ul li:last-child a{
      padding: 6px 17px;
      border: 2px solid;  
      border-radius: 5px;
      color: #f3f3f3;
  }
  
  #menu-icon { 
      display: none; 
      /* hide menu icon initially */
  }
  
  nav ul li:last-child a:hover{
      color: rgb(217, 173, 91);
  }
  
  nav #menu-toggle {
    display: none;
  }
  nav .label-toggle {
    display: none;
  }
  nav .wrapper {
  
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  nav .wrapper {
      display: block;
  
    }
  @media screen and (max-width: 768px) {
    nav nav ul a {
      color: #FFF;
    }
  }
    nav ul {
      background-color: rgb(89, 10, 10);
      display: none;
      height: 0;
      list-style-type: none;
      opacity: 0;
      text-align: center;
      transition: all 1s ease;
      width: 100%;
      visibility: hidden;
      margin: 0%;
      margin-left: -2%;
  
    }
    nav li {
      color: #53354A;
      display: block;
      font-size: 1.5em;
      padding: 1em 0;
      text-align: center;
  
  
    }
  
    nav #menu-toggle:checked ~ ul {
      display: block;
      opacity: 1;
      height: 100vh;
    
      visibility: visible;
      background:rgb(89, 10, 10); 
    }
  
    nav .label-toggle {
  
      background: linear-gradient(to bottom, #FFF 0%, #FFF 20%, transparent 20%, transparent 40%, #FFF 40%, #FFF 60%, transparent 60%, transparent 80%, #FFF 80%, #FFF 100%);
      cursor: pointer;
      display: block;
      float: right;
      height: 22px;
      margin-top: 0.9em;
      margin-right: 2em;
      width: 26px;
    }
nav{
    z-index :2;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 1); 
}
ul{  
    padding: 0px;
    margin: 7px;
}
.li{
    /*deixa o cursor:pointer design  com mão com o dedoindicador  */
    cursor: pointer;
    padding: 10px;
    font-family: Arial;
    font-size: 10px;
    margin: 1px;
    display: inline-block;
}
.li:hover{
    background-color:white;
    border-radius: 5px; 
}
a{
    color: white;
    text-decoration: none;
   
}
a:hover{
    color:#D9A25F;
}
p{
    text-align: justify;
    text-indent: 23px;
    word-break: break-all;
    /*para não espaços entre letras */
    letter-spacing: 0px;
    word-spacing: 0px;
}
.header-titulo{
    margin-top: 0%;
    text-align: center;
    padding-top: 40px;
    width:43%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.header-titulo h1{
    text-align: center;
    font-size: 35px;
    color: #D9A25F;
    text-shadow:4px 2px 2px #403222;
    border-top: 1px solid rgba(255, 255, 255,0.3);
    border-left: 1px solid rgba(255, 255, 255,0.3);
    border-radius: 10px;
}

.cabecalho{
    position: relative;
    width: 100%;
    height: 230px;
    background-color: rgb(139, 22, 22);
    background-position-y: -250px;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   position: relative;
 
}
/*teste animation do com div */
.fundo-animation:hover{
    animation: zoom 4s linear infinite;  
    top: 29%;
    left: 40.7%;
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #590a0a ;
    border-radius: 50%;
    z-index:2;
}
.fundo-animation-2:hover{
    animation: zoom 3s linear infinite;  
    top: 29%;
    left: 40.7%;
    position: absolute;
    width: 250px;
    height: 250px;
     background-color:  red ;
    border-radius: 50%;
    z-index:2;
}
.fundo-img{
    top: 45%;
    left: 36%;
    position: absolute;
    width: 165px;
    height: 165px;
    background-color:  #590a0a;
    border-radius: 50%;
    z-index:1;
    animation: sombra linear 3s infinite;
}

.logo-01{
    width: 100%;
    height: 100%;
    background: url(../../imagens/faviconIo/android-chrome-192x192.png)no-repeat;
    background-position-x:29px;
    background-position-y:29px ;
}

.logo-02{
    position: relative;
    top: 6px;
    left: 6px;
    width: 93%;
    height: 93%;
    border-radius: 50%;
    margin-bottom: 5%;
    background: url(../../imagens/gabriel-medina-logo.webp);
    background-size: cover;  
  }

.legado-micahel{
    padding: 6%;
}

.grid-Gabriel-Medina{
    margin-top: -5%;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.grid-Gabriel-Medina > div:nth-child(1){
    width: 100%;
    height: 3500px;
    background-color: #590a0a;
}
.grid-Gabriel-Medina >div:nth-child(2){

    width: 100%;
    height:3500px;
    background-color: #D4001F;
}
.h1-titulo-Gabriel-Medina{
    margin-top: 25%;
    color: #590a0a;
    text-align: center;
    font-size: 45px;
    text-shadow: 1px 3px 3px black;
}

.h2-titulo-Gabriel-Medina{
    margin-top: 5%;
    text-align: center;
    margin-bottom: 4%;
    padding-bottom: 3%;
    font-size: 30px;
    color: rgb(89, 10, 10);
    font-style: italic;
    font-family: 'Sacramento', cursive;
}
.section-Gabriel-Medina{
    border-radius: 30px;
    border: 2px solid #D4001F;
    margin-left: 5%;
    margin-top: -6.5%;
    position: absolute;
    width: 90%;
    height: auto;
    border-radius: 15px;
    background-color: #D9AD5B;
}
.h2-saiba-mais{
    margin-top: -3%;
    margin-bottom:40px;
    padding-bottom: 2px;
    background-color: brown;
    text-align: center;
    font-size: 13px;
}
.grid-fotos{
   
    height: 100%;

}
.grid-fotos >div:nth-child(1){
    
    border-top: 1px solid #D4001F;
    border-right: 1px solid #D4001F;
    height: auto;
    background-color:#D9AD5B ;
    padding-top: 10px;
    margin-top: -5%;
}
.titulo-estatistica{
    border-radius: 5px;
    text-align: center; 
    color: #BF8339;
    font-weight: bold;
    background-color: #590A0A;
    font-size: 15px;
    margin: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.titulo-card{
    font-size: 25px;
    text-align: center; 
    color:  #590A0A;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.808);
}
.h2-premiacao{
    font-size: 20px;
    border: 1px solid #D9AD5B;
    color: #BF8339;
    background-color: #590A0A;
    text-align: center;
    text-shadow:0.5px 0.5px 1px black;
}
.h3-premiacao{
    color:  #590A0A;
    font-size: 14px;
}
.grid-fotos >div:nth-child(2){
    border-top: 1px solid #D4001F;
    width: 100%;
    height: auto;
    background-color: #D9AD5B;
}

.container-img-Gabriel-Medina{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    padding: 5px;
    width: 90%;
    background-image:linear-gradient(#590A0A,#8a0202);
    border-radius: 10px;
    /*animation: scale 2s linear , transition-color 3s ;*/
    border:1px solid red;
}
.img-Gabriel-Medina{
    width: 100%;
    height: auto;
}

.div-estatistica{
    margin: 0px 20px 20px 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom:30px;
    width: auto;
    height: auto ;
    border-radius: 7px ;
    background-color: rgb(89, 10, 10);
    border: 2px solid rgb(0, 0, 0);
}

.quadro-01,.quadro-02,.quadro-03,.quadro-04,.quadro-05,.quadro-06,.quadro-07{
    display: inline-block;
    width: 100%; 
    height: 200px;
    margin-bottom: 15px;
    background-color:  #BF8339;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.301);
}

.grid-quadro{
    display:grid;
    grid-template-columns: 150px 1fr;
}
.grid-quadro-2{
    width: 100%;
    height: 100%;
}
.grid-quadro-1{ 
    width: 100%;  /*se expandde a largura do pai*/
    height: 200px; /*se  expande a largura do pai*/
    background: url(../../imagens/gabriel-medina-bicampeao.webp)center;
    background-size: cover; 
}

.hr{
    border-color:#D4001F;
}

.quadro-space{
    padding: 10px;
}
/*caso queira espaço nos videoa */
.videos-space{
    padding: 5px;
  
}
.h1-recordes-pessoais{
    text-align: center; 
    color:  #590A0A;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.808);
}
.div-table{ 
    width: 96.4%;
    height: 400px;
    overflow: scroll;
    margin: 4px;
}
table{
  
  width: 100%;

  background-color:  #590a0a; 
}

td{
    font-size: 14px;
    background-color: #BF8339;
    text-align: center;
    color: #942020;
}
td:hover {
    background-color:#942020 ;
    text-align: center;
    color:#BF8339 ;
    cursor: pointer;
}
.td-destaque{
    background-color: #8a1111;
    color: #BF8339;
    font-weight: bolder;
 
}

td > a:nth-child(n+1){
    color: #7e0707;
    font-weight: normal;
}
td > a:hover:nth-child(n+1){
   
    font-weight: normal;
    color: #ffffff;
}
tr{  
}
.tr-linha-titulo{
}
.tr-linha-titulo > td:nth-child(n+1){
    background-color: #8a1111;
    color: #BF8339;
    font-weight: bolder;
}
.tr-linha-subtitulo{
}
.tr-linha-subtitulo > td:nth-child(n+1){
    background-color: #8a1111;
    color: #BF8339;
    font-weight: bolder;
}
.video{
    height: 320px;
}

@keyframes bola-movimento {
    from{
    
         transform: translateY(0px);

    }
    to{

       transform: translateY(-8px);
 
    }
 
    
    
}
/*animação circular crescente do ponto ao maximo da imagem */
@keyframes scale {
    from {
        border-radius: 50%;
       transform: scale(0);
       opacity: 0;
    }
    to{
        border-radius: 50%;
       transform:scale (3.0);
       opacity: 1;
    }

}
@keyframes move {
   from{
   
        transform: translateX(0px);
 
   }
   to{

      transform: translateX(100%);
  
   }

   
   
}
@keyframes opacidade {
   from{
   
       opacity: 0;
  
   }
   to{

     opacity: 1;

   }


}
@keyframes girar {
   from{
   
       transform: rotate(0deg);
      
   }
   to{

       transform: rotate(35deg);

   } 
}
@keyframes zoom {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

@keyframes transition-color {
    from{
        background-color: #c2baba;
    }
    to{
        background-color: #000000;
    }
}
@keyframes sombra {
    from{
        box-shadow: 0px 0px rgb(138, 17, 17);

       
    }
    to{
        box-shadow: 0px 0px 10px rgb(191, 131, 57),
        0px 0px 20px rgb(138, 17, 17) ;
        
    }
    50%{
        box-shadow: 0px 0px 20px rgb(191, 131, 57),
        0px 0px 20px rgb(138, 17, 17) ;
    }
    100%{
        box-shadow: 0px 0px rgb(138, 17, 17);
    }
}
}
