@charset "UTF-8";
/*media para responsividade de tela para desktop de 430px espandindo até 2500px */
@media screen and (min-width:701px) and (max-width:4090px){
    /*@media screen and (min-width:430px) and (max-width:1390px)*/

body{
    margin: 0%;
    width: 100%;
    height: 100%;
    background-color: white;
    /*se expande no minimo 990 pixel */
    /*overflow-x: hidden;*/
    min-width:1100px;
}
.navBar{
    display: none;
    visibility: hidden;
}
.wrapper{
    display: none;
    visibility: hidden;
}
nav{
    padding: 1px;
    z-index: 2;
    margin-top: 0px;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.07);
}

nav:hover{
    background-color: rgb(0,0,0);
    animation: opacidade 0.7s ease-in ;
    color: white;
}

ul{
    padding: 0px;
    margin: 5px;
}

.li{
    /*deixa o cursor:pointer design  com mão com o dedo indicador  */
    cursor: pointer;
    padding: 10px;
    font-family: Arial;
    font-size: 17px;
    margin: 2px;
    display: inline-block;   
}
.li:hover{
    background-color:white;
    border-radius: 5px;
    animation: bola-movimento 0.9s linear infinite ;
}

a{
    color:white;
    text-shadow: 2px 2px 2px 4px black;
    text-decoration: none;
}

a:hover{
    color: #D9A25F;  
}

p{
   text-align: justify;
   text-indent: 23px;
   word-break: break-all;
   /*para não espaços entre letras */
   letter-spacing: 0px;
   word-spacing: 0px 
}

.header-titulo{
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    height: auto;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    color: white;
}

.header-titulo h1{
    margin-top: 66px;
    margin-bottom: 10px;
    margin-left: 30px;
    z-index: 1;
    font-size: 58px;
    color:#F2AC29;
    padding-left: 10px;
    text-shadow:4px 2px 2px #403222;
    border-top: 1px solid rgba(255, 255, 255,0.3);
    border-left: 1px solid rgba(255, 255, 255,0.3);
    border-radius: 10px;
}

.header-titulo h2{
    margin-left: 120px;
    margin-top: 14px;
    margin-bottom: 10px;
    z-index: 1;
    font-size: 50px;
    color: black;
    padding-left: 10px;
    text-shadow:4px 2px 2px #403222;
}

.cabecalho{
    width: 100%;
    height: 300px;
    background-color: #020873;
    background-position-y: -250px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
/*teste animation do com div */
.fundo-animation:hover{
    animation: zoom 4s linear infinite;  
    top: 29%;
    left: 40.7%;
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: white ;
    border-radius: 50%;
    z-index:2;
}
.fundo-animation-2:hover{
    animation: zoom 3s linear infinite;  
    top: 29%;
    left: 40.7%;
    position: absolute;
    width: 250px;
    height: 250px;
     background-color: white;
    border-radius: 50%;
    z-index:2;
}
.fundo-img{
    top: 37%;
    left: 42.7%;
   position: absolute;
    width: 200px;
    height: 200px;
    background-color: #010553;
    border-radius: 50%;
    z-index:1;
    animation: sombra linear 3s infinite;  
    border: 1px solid white;
}

.logo-01{
    width: 100%;
    height: 100%;
    background: url(../imagens/faviconIo/android-chrome-192x192.png)no-repeat;
    background-position-x:29px;
    background-position-y:29px ;
   /* animation: girar 2s linear infinite;*/  
}

.logo-02{
    width: 100%;  /*se expandde a largura do pai*/
    height: 100%; /*se  expande a largura do pai*/
    background: url(../imagens/png/golden-state-warriors-logo.png)center center;
    background-size: cover;     
}


.grid-Golden-State{
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.grid-Golden-State> div:nth-child(1){
    width: 100%;
    height: 2300px;
    background-color:rgb(0, 0, 65);
}
.grid-Golden-State >div:nth-child(2){
    width: 100%;
    height: 2300px;
    background-color: rgb(0, 0, 65);
}

.h1-titulo-Stephen-Curry{
    margin-top: 1.7%;
    text-indent: 2.5%;
    font-size: 30px;
    color: #020873
    ;
}

.h2-titulo-Stephen-Curry{
    margin-bottom: 2%;
    text-indent: 5%;
    padding-bottom: 3%;
    font-size: 30px;
    font-style: italic;
    font-family: 'Sacramento', cursive;
    color: #020873
    ;
}

.section-Golden-State{
    border:2px solid #F2AC29;
    ;
    min-width:1030px;
    width: 95%;
    top: 180px;
    left: 0px;
    margin: 30px;
    position: absolute;
    height: auto;
    border-radius: 30px;
    box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.301);
    background-color: rgb(199, 199, 199);
}
.h2-saiba-mais{
    margin-top: -3%;
    margin-bottom:40px;
    padding-bottom: 2px;
    background-color: rgb(0, 37, 107);
    text-align: center;
    font-size: 16px;
}
.h2-saiba-mais:hover{
    background-color:black;


}
.grid-fotos{
    width: 100%;
    height: 100%;
    display: grid;
    background-color: aqua;
    grid-template-columns: 28.5% 66.2%;
}

.grid-fotos >div:nth-child(1){
    border-top: 1px solid black;
    border-right: 1px solid black;
    height: 2110px;
    background-color:rgb(199, 199, 199)
    ;
    padding-top: 10px;
}

.titulo-estatistica{
    border-radius: 5px;
    text-align: center; 
    color: white
    ;
    font-weight: bold;
    background-color: #020873
    ;
    font-size: 20px;
    padding-top:5px;
    padding-bottom: 5px;
}

.titulo-card{
    text-align: center; 
    color:  #020873;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.808);
}

.h2-premiacao{
    border: 1px solid black;
    color: white;
    background-color: #020873;
    text-align: center;
    text-shadow:0.5px 0.5px 1px black;
}

.h3-premiacao{
    color:  black;
    font-size: 15px;
}

.grid-fotos >div:nth-child(2){
    border-top: 1px solid black;
    width: 100%;
    height: auto;
    padding-left: 4%;
    padding-right: 4%;
    background-color: rgb(199, 199, 199);
}

.container-img-Stephen-Curry{
    display: inline-block;
    margin-top: -1%;
    margin-left: 0.9%;
    margin-bottom: -1.6%;
    width: 96%;
    height: 15.7%;
    /* fazendo degradê do lado direito com duas cores */
    background-image:linear-gradient(rgb(0, 0, 92),#020873);
    border-radius: 10px;
    border:3.5px solid black;
   /* animation: scale 2s linear , transition-color 3s ; */
   position: relative;
   
}

.img-Stephen-Curry{
    top:-42px;
    left: 9px;
    margin: 0;
    position: absolute;
    width: 300px;
    height: auto;
    /* animation: scale 0.9s linear ;*/
}

.div-estatistica{
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom:5px;
    margin-top:5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom:15px;
    width: auto;
    height: auto ;
    border-radius: 7px ;
    background-color: #020873
    ;
    border: 2px solid black;
}

.quadro-01,.quadro-02,.quadro-03,.quadro-04,.quadro-05,.quadro-06,.quadro-07{
    display: inline-block;
    width: 100%; 
    height: 100%;
    margin-bottom: 15px;
    background-color:  #F2AC29

    ;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.301);
}

.grid-quadro{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.grid-quadro-1{ 
    width: 100%;  /*se expandde a largura do pai*/
    height: auto; /*se  expande a largura do pai*/
    background: url(../imagens/Stephen-curry-campeao-gimp.jpg)center;
    background-size: cover; 
}
.grid-quadro-jogos-olimpicos{
    width: 100%;  /*se expandde a largura do pai*/
    height: auto; /*se  expande a largura do pai*/
    background: url(../imagens/Stephen-curry-campeao-2-gimp.jpg)center;
    background-size: cover; 
}
.grid-quadro-Americas-Championship{
    width: 100%;  /*se expandde a largura do pai*/
    height: auto; /*se  expande a largura do pai*/
    background: url(../imagens/steven-curry-campeao-03-gimp.jpg)center;
    background-size: cover; 
}

.grid-quadro-All-NBA-Team{
    width: 100%;  /*se expandde a largura do pai*/
    height: auto; /*se  expande a largura do pai*/
    background: url(../imagens/steven-curry-campeao-04-gimp.jpg)center;
    background-size: cover; 
}
.hr{
    border-color:black;
}

.quadro-space{
    padding: 5%;
}
.h1-recordes-pessoais{
    text-align: center; 
    color:  black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.808);
}
table{
   width: 100%;
  background-color: rgb(0, 0, 65); 
}
td{
    font-size: 1rem;
    height: 25px;
    background-color: #F2AC29;
    text-align: center;
    color: black;
 
}
td:hover {  
    background-color: #020873;
    text-align: center;
    color:rgb(179, 180, 255);
    cursor: pointer;
}

td > a:nth-child(n+1){
    color:#680000;
    font-weight: normal;
    
}
td > a:hover:nth-child(n+1){
    cursor: pointer;
    font-weight: normal;
    color:rgb(179, 180, 255);
}
.td-titulo{
    padding: 2px;
    width: 90px;      
    background-color: #020873;

    color:rgb(179, 180, 255);
    cursor: pointer;
}


.tr-linha-titulo{
}
.tr-linha-titulo > td:nth-child(n+1){
    background-color: #020873;
    color:rgb(179, 180, 255);
    font-weight: bolder;
}
.tr-linha-subtitulo{
}
.tr-linha-subtitulo > td:nth-child(n+1){
    background-color: #020873;
    color:rgb(179, 180, 255);
    font-weight: bolder;
}

@keyframes bola-movimento {
from{
    transform: translateY(0px);
}
to{
    transform: translateY(-8px);
 }
}

/*animação circular crescente do ponto ao maximo da imagem */
@keyframes scale {
from {
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
}
to{
    border-radius: 50%;
    transform:scale (3.0);
    opacity: 1;
 }
}

@keyframes move {
from{
    transform: translateX(0px);
   }
to{
    transform: translateX(100%);
   }   
}

@keyframes opacidade {
from{ 
    opacity: 0;
}
to{
    opacity: 1;
   }  
}


@keyframes girar {
from{ 
    transform: rotate(0deg);  
}
to{
    transform: rotate(35deg);
   } 
}

@keyframes zoom {
from{
    transform: scale(0);
}
to{
     transform: scale(1);
    }
}

@keyframes transition-color {
from{
    background-color: #c2baba;
}
to{
    background-color: #000000;
    }
}
@keyframes sombra {
    from{
        box-shadow: 0px 0px #010553;

       
    }
    to{
        box-shadow: 0px 0px 10px rgb(155, 129, 247),
        0px 0px 20px #020873;
        
    }
    50%{
        box-shadow: 0px 0px 20px rgb(155, 129, 247),
        0px 0px 20px #020873;
    }
    100%{
        box-shadow: 0px 0px #010553;
    }
}
}

