@charset  "UTF-8";

@media screen and (min-width:701px) and (max-width:4090px){
    /*@media screen and (min-width:430px) and (max-width:1390px)*/
.secao-surf{ 
    margin-bottom: 8%;
    margin: auto;
    width: 750px;
    height: auto;
    border-radius: 20px;   
}
@media screen and (max-width:800px){
    .secao-surf{
            width: 600px;
            margin: auto;
            height: auto;
            border-radius: 20px;
    }
    
    }
.titulo-surf{
    text-align:center;
    color:  #D9AD5B;
    font-size: 40px;
}

.imagem-surf{
    width: 280px;
    height: auto;
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 7px; 
    border: 1px solid #825D84;
}
@media screen and (max-width:800px){
    .imagem-surf{
        width: 220px;

    }
    }
/*grid dividindo em 3 colunas com 1fr deixando proporcional a largura da tela 100%*/
.grid-surf {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1.4fr;
    border: 2px solid #825D84;
    border-radius: 7px;
    margin-bottom: 8%;
    background-color: #4E8BBF;
}  

/*:th-child ele pega o filho da tag declarado */
.grid-surf >div:nth-child(1){
  color:white;
}
.grid-surf >div:nth-child(2){  
    color:#BFC7D9;
    background-color:#034C8C;
    padding: 30px;
    font-size: 13px;
    margin-left: 3%;
    margin-right: -3.2%;
}
@media screen and (max-width:800px){ 

.grid-surf >div:nth-child(2){
    background-color:#034C8C;
    color:#BFC7D9;
    padding: 10px;
    font-size: 8px;
    margin-left: 4%;
    margin-right: -3.2%;

}
}

.grid-surf >div:nth-child(3){
    background-color: white;
    width: auto;
    border-radius: 7px;
    color: #022a4d;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin: 10px;
    height: 360px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    overflow: scroll ;
}
@media screen and (max-width:800px){
 
    .grid-surf >div:nth-child(3){
        height: 280px;
    }
    }


/*(n+3) ele pega os filhos aparte do 3 */
.grid-surf>div .h1-surf:nth-child(n+1){
    color:#825D84;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
@media screen and (max-width:800px){
    .grid-surf>div .h1-surf:nth-child(n+1){
        font-size: 20px;
}
}
.grid-surf>div p:nth-child(n+1){
     color: #022a4d
     ;
    text-indent: 23px;
}
.grid-surf>div h3:nth-child(n+1){
    text-indent: 20px;   
 }


.container-img-surf{
    
}
.img-surf{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 330px;
    background: url(../imagens/background/surf_background-1000px.webp);
    /*opacity: 0.6;*/
    background-size: cover;
    background-position:center;
    margin-bottom: 3%;
    }  
    .titulo-img-surf{
       font-size: 100px;   
        color: white;
    }
 .surf-informacao{
     margin-left: 10%;
     margin-right: 10%;
 }

/*============Container SURF======================*/

.h1-destaques-surfista{
    text-align: center;
    color:#825D84;
   }
 .surf-estatistica-logo{
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #4E8BBF;
    width: 100%;
    /*width: 100vmax;*/
    height: auto;
   
   }
.container-surf{
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    height: 100%;
    margin-bottom: 2%;
   }
 
/*Design inspiração netflix */
   
.surf-quadro-1{  
    position: relative;
    margin-right: 7%;
    margin-top: 2.7%;
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #034C8C;
  
   }
.h1-1-surf{
    right: 124px;
    top: -300px;
    position: absolute;
    font-size:340px;
    color: rgb(255, 255, 255);
    z-index: 0;
}
.filipe-toledo {
    z-index: 1;
    position: relative;
    top: 9px;
    left:1px;
    border-radius: 50%;
    border: 3px solid #825D84 ;
    width: 90%;
    height: 90%;
    margin-bottom: 8%;
    opacity: 1;
}

.filipe-toledo:hover{
    opacity: 0.3;
}
   .surf-quadro-2{
    position: relative;
    margin-right: 7%;
    margin-top: 2.7%;
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #034C8C;
    z-index: 0;
}

.h1-2{
    right: 124px;
    top: -300px;
    position: absolute;
    font-size:340px;
    color: rgb(255, 255, 255);
    z-index: 1;
  
}
.surf-img-02{
    z-index: 0;
    position: relative;
    top: 9px;
    border-radius: 50%;
    border: 3px solid #825D84 ;
    width: 90%;
    height: 90%;
    margin-bottom: 8%;
    opacity: 1;

}
.surf-img-02:hover{
    opacity: 0.3;
}
.surf-quadro-3{
    position: relative;
    margin-right: 0%;
    margin-top: 2.7%;
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #034C8C;
    z-index:0;
}
.h1-3{

    right: 124px;
    top: -300px;
    position: absolute;
    font-size:340px;
    color: rgb(255, 255, 255);
    z-index: -2;


}
.surf-img-03{
    z-index: 1;
    position: relative;
    top: 9px;
    left:1px;
    border-radius: 50%;
    border: 3px solid #825D84 ;
    width: 90%;
    height: 90%;
    margin-bottom: 8%;
    opacity: 1;
}
.surf-img-03:hover{
    opacity: 0.3;
}

.a-surf{
    color: yellow;
    display: inline-block;
   }
   /*--=============Container imagens surf ====================--*/
   .h1-scroll-surf{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    color: #825D84;
}
.img-scroll-surf{

    margin-right: 10px;
    animation: move-direita 1s linear infinite;

}
   
.container-layount-surf {
    margin-top: 0px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 43px;
    height: 404px;
    background-color: #4E8BBF;
    overflow: scroll;
}
.divs-fotos-container-layont-surf{
    width: 3800px;
    height: auto;
    background-color: #4E8BBF;
}
.categoria-surf{
    border-radius: 10px;
    float: left;
    margin: 4px;
    width: 8%;
    height: 400px;
    border: 3px solid #034C8C;
    background-color: #034C8C;
}
.sub-categoria-surf{
    margin-left: 1px;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 55px;
    height:400px;
    margin-top: 7px;
    background-color: #034C8C;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #034C8C;
}
.h1-sub-categoria-surf{
    font-size: 25px;
    transform: rotate(270deg) ;
    color: #D9AD5B;
}
strong{
    color: rgb(248, 248, 55);
}
.h2-categoria-imagem-surf{
    color: #D9AD5B;
}
.p-texto-categoria-imagem-surf{
    padding: 8px;
    text-indent: 0px;
    font-size: 13px;
    color: beige;
}
.nome-categoria-surf{
    color: beige;
    text-align: justify;
    text-align: center;
    
}
.categoria-surf:hover{
    border: 3px solid beige; 
    background-color:#034C8C ;
}
.div-titulo-surf{
    text-align: center;
    position: relative;
    bottom: 9%;
    width: 100%;
    height: 20px;
    border: 1px solid #022a4d;
    background-color: #590a0a5b;
}
.divs-fotos-container-layont-surf> a:nth-child(n+1){ 
    float: left;
    margin: 1.5px;
    background-color:  #034C8C;
    border: 3px solid #034C8C;
    width: 4%;
    height:400px ;
    margin-top: 5px;
    transition: width 1.5s, transform 1.5s;  
 
}
.divs-fotos-container-layont-surf> a:hover:nth-child(n+1){
    width: 15%;
    border: 3px solid beige;
    height:400px;
    transition: width 1.5s, transform 1.5s;
    /*animation: movimento linear 3s ;*/
}
.primeiro-surf,.segundo-surf,.terceiro-surf,.quarto-surf,.quinto-surf,.sexto-surf,.setimo-surf,.oitavo-surf,.nono-surf,.decimo-surf,.decimo-primeiro-surf,.decimo-segundo-surf,.decimo-terceiro-surf,.decimo-quarto-surf,.decimo-quinto-surf{
    background-size: cover;
    background-position-x:center;
    color: #D9AD5B;
}
.primeiro-surf:hover,.segundo-surf:hover,.terceiro-surf:hover,.quarto-surf:hover,.quinto-surf:hover,.sexto-surf:hover,.setimo-surf:hover,.oitavo-surf:hover,.nono-surf:hover,.decimo-surf:hover,.decimo-primeiro-surf:hover,.decimo-segundo-surf:hover,.decimo-terceiro-surf:hover,.decimo-quarto-surf:hover,.decimo-quinto-surf:hover{
    color:white;
}
/*Background imagems*/

.primeiro-surf{
    background-image:url(../imagens/italo-ferreira-imagem-1.webp) ;
}
.segundo-surf{
    background-image:url(../imagens/gabriel-medina-imagem-1.webp) ;
}
.terceiro-surf{
    background-image:url(../imagens/jordy-smith-imagme-1.webp) ;
}
.quarto-surf{
    background-image:url(../imagens/italo-ferreira-imagem-2.webp) ;
}
.quinto-surf{
    background-image:url(../imagens/gabriel-medina-imagem-2.webp) ;
}
.sexto-surf{
    background-image:url(../imagens/jordy-smith-imagem-2.webp) ;
}
.setimo-surf{
    background-image:url(../imagens/italo-ferreira-imagem-3.webp) ;
}
.oitavo-surf{
    background-image:url(../imagens/gabriel-medina-imagem-3.webp) ;
}
.nono-surf{
    background-image:url(../imagens/jordy-smith-imagem-3.webp) ;
}
.decimo-surf{
    background-image:url(../imagens/italo-ferreira-imagem-4.webp) ;
}
.decimo-primeiro-surf{
    background-image:url(../imagens/gabriel-medina-imagem-4.webp) ;
}
.decimo-segundo-surf{
    background-image:url(../imagens/jordy-smith-imagem-4.webp) ;
}
.decimo-terceiro-surf{
    background-image:url(../imagens/italo-ferreira-imagem-5.webp) ;
}
.decimo-quarto-surf{
    background-image:url(../imagens/gabriel-medina-imagem-5.webp) ;
}
.decimo-quinto-surf{
    background-image:url(../imagens/jordy-smith-imagem-5.webp) ;
}


@keyframes opacity-imagem {
    from {
        opacity:0.1;
    }
    to{
        opacity: 1;
    }
}


}