@charset "UF-8";
@media screen and (min-width:0px) and (max-width:450px){
@keyframes transition-0{
    from{
       transform: translateX(200px);
    }
    to{  
        transform: translateX(0px);
       
    }
}
.corpo{
    margin: auto;
    width: 300px;
    background-color: beige;  
}
@keyframes transition {
    from{
       transform: translateY(-150px);
    }
    50%{
        
    }
    to{
        transform: translateY(0px);
    }
}
p{
    color: red;
}
.cabecalho{

    width: auto;
    height: 69vw;
    border-left: 2px solid #D9AD5B;
    border-right: 2px solid #D9AD5B;
    border-bottom: 2px solid #D9AD5B;
    background-image:url(../../imagens/background/cadastro-full.webp);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background-position:center;
    border-radius: 0px 0px 20px 20px;
    animation: transition 1.5s ease-in;
}
.h1-cadastro{
    text-align: center;
    color: #D9AD5B;
}
.hr-cadastro{
    margin-left: 25px;
    margin-right: 25px;
}
.div-corpo-form{
    animation: transition-0 0.3s ease-in;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid black;
    width: 100%;
    height: auto;
    background-color: rgb(253, 253, 253);
}
.div-for{
    width: 100%;
    height: 100%;
}
.form{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
}
fieldset{
    border-radius: 8px;
    border-color: #D9AD5B;
    margin: 15px;
}
legend{
    color: #D9AD5B;
    font-weight: bold;
}
.labelNome{
 
}
.inputNome{
    width: 130px;
}
.labelEndere{
  
}
.inputEndere{
    width: 70px;
}
.labelNum{
    margin: 10px;
}
.inputNum{
    width: 40px;
}
.labelNum{
    margin: 10px 0px 10px 10px;
}
.inputNum{
    width: 130px;
}
.labelCel{

}
.inputCel{
    width: 100px;
    margin: 10px 10px 0px 0px;
}
.labelTel{

}
.inputTel{
    width: 100px;
    margin: 10px 10px 0px 0px;
}
.labelSenha{
    margin: 10px ;
}
.inputSenha{
    width: 100px;

}
.labelConSenha{
    margin: 10px;
}
.inputConSenha{
    width: 100px;
}
.labelEmail{

}
.inputEmail{
    width: 200px;
}
.labelBairro{

}
.inputBairro{
    width: 210px;
    margin-bottom: 15px;
}

.btnEnviar{  
    
    text-align: center;
    text-justify: center;
    border-radius: 10px;
    width: 70px;
    height: 50px;
    background-color: darkgreen;
    color: rgb(199, 228, 199);
}
.btnEnviar a {
  text-decoration: none;
  color: rgb(199, 228, 199);
  width: 100%;
  height: 100%;
}

.btnEnviar:hover{
    background-color: rgb(41, 114, 41);
}
.div-voltar{
    background-color: #D9AD5B;
}
.a-voltar{
    margin:40px;
    border-radius:10px;
}
a{
    
    color: rgb(216, 45, 15);
}
}

/*
.inputfile:active::before{

background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.inputfile::before{
    content: "";
}

.inputfile::-webkit-file-upload-button {
    background-color: rgb(255, 217, 217);
    width: 55px;
    height: 20px;
    font-size: 5px
}
*/