@charset "UTF-8";
@media screen and (min-width:0px) and (max-width:450px){


.titulo{
    text-align: center;
    font-family:'Train One',cursive;
    color:#D9A25F;
    background-color: #f4f4f5;
    margin-top: 5%;
    font-size: 18px;
}
.container-dev{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px; 
}
.desktop{
    width: 200px;
    height: 160px;
    background-image: url(../../imagens/dev/imac-gimp.webp);
    background-size: 200px;
    background-position: center;  

}
.tablet{
    z-index: 2;
    position: relative;
    top: -80%;
    left: -40%;
    width: 200px;
    height: 160px;
    background-image: url(../../imagens/dev/tablet-gimp.webp);
    background-size: 200px;
    background-position: center;   
    /*animation: opac 4s  infinite; */
}

.celular{
    z-index: 0;
    position: relative;
    top: 23%;
    left: 52%;
    width: 150px;
    height: 127px;
    background-image: url(../../imagens/dev/celular-gimp.webp);
    background-size: 150px;
    background-position: center; 
    /* animation: opac 5s  infinite; */
}
.grid-dev{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.conteiner-a-dev{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}
.a-dev{
    font-size:10px;
    padding: 3px;
    color: red;
    text-decoration: none;
}
.a-dev:hover{
    text-decoration: underline;
    color: #D9A25F;
}
.p-dev{
    background-color: beige;
    text-align: center;
}
.container-ball{
    display: flex;
    justify-content: center;
    align-items: center;
}
.anima-ball{
    border-radius: 50%;
    border: 3px solid rgb(112, 0, 0);
  
    animation:girar 2s linear infinite ;
}
.anima-ball:hover{
    animation:bola-movimento 0.5s linear infinite ;
    cursor: grab;
}
@keyframes bola-movimento {
    from{
     
    transform: translateY(0px);
     }
     to{

     transform: translateY(-15px);
     }    
     
 }
@keyframes girar {
    from{
    
        transform: rotate(0deg);       
    }
    to{
         transform: rotate(120deg);
 
    }  
}











    
}